@use "../base/variables" as *;

/*==========================================
                MIXINS AURA
==========================================*/

// Centrado y alineación flexible
@mixin flex($justify: center, $align: center, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// Botón Premium AURA
@mixin boton {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 1.4rem 3.5rem;

    border: 1px solid $dorado;
    border-radius: 999px;

    background: transparent;

    color: $dorado;
    font-size: 1.6rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;

    transition: $transicion;

    &:hover {
        background: $dorado;
        color: $fondo;
        transform: translateY(-3px);
        box-shadow: $sombra;
    }
}

// Estilo de Títulos Principales
@mixin titulo {
    font-family: $fuente-principal;
    color: $dorado;
    font-size: 5rem;
    font-style: italic;
    text-align: center;
    line-height: 1.2;

    @media (max-width: 768px) {
        font-size: 3.6rem;
    }
}

// Helper para Media Queries rápidas
@mixin responsive($width) {
    @media (max-width: $width) {
        @content;
    }
}