@use "../base/variables" as *;
@use "../utilities/mixins" as *;

/*==========================================
                HEADER
==========================================*/

.headerMenu{

    width:90%;
    max-width:1400px;

    margin:auto;

    padding:2rem 0;

    border-bottom:1px solid rgba(212,175,55,.15);

    @include flex(space-between,center);

}

.logoHeader{

    @include flex(flex-start,center);

    gap:2rem;

    img{

        width:85px;

        transition:$transicion;

        &:hover{

            transform:rotate(-5deg) scale(1.05);

        }

    }

    h1{

        color:$dorado;

        font-size:4rem;

        line-height:1;

        margin-bottom:.5rem;

    }

    p{

        color:$gris;

        font-size:1.5rem;

        letter-spacing:3px;

        text-transform:uppercase;

    }

}

.menu-premium {

    ul {

        align-items: center;

        margin: 0;
        padding: 0;

    }

}

.navLink{

    color:$texto;

    font-size:1.7rem;

    letter-spacing:1px;

    position:relative;

    transition:$transicion;

    padding-bottom:.6rem;

    &:hover{

        color:$dorado;

    }

    &::after{

        content:"";

        position:absolute;

        left:0;

        bottom:0;

        width:0;

        height:2px;

        background:$dorado;

        transition:$transicion;

    }

    &:hover::after{

        width:100%;

    }

}
/*==========================================
        RESPONSIVE HEADER
==========================================*/

@media(max-width:992px){

    .headerMenu{

        flex-direction:column;

        gap:3rem;

    }

}

@media(max-width:768px){

    .menu-premium{

        width:100%;

    }

    .menu-premium ul{

        flex-direction:column;

        align-items:center;

        gap:2rem;

    }

    .logoHeader{

        flex-direction:column;

        text-align:center;

    }

    .logoHeader img{

        width:70px;

    }

}
