@use "variables" as *;

/*==========================================
                RESET AURA
==========================================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px
    scroll-behavior: smooth;
}

body {
    background-color: $fondo;
    color: $texto;
    font-family: $fuente-secundaria;
    font-size: 1.6rem;
    line-height: 1.6;
    overflow-x: hidden;
}

img, 
picture, 
svg {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul, 
ol {
    list-style: none;
}

button, 
input, 
textarea, 
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: transparent;
}

button {
    cursor: pointer;
    border: none;
}